
@{
    ViewData["Title"] = "Shipment History";
}

@section css{

}

<div class="pagetitle">
    <h1>Shipment History </h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Shipment History</li>
        </ol>
    </nav>
</div>


@section scripts{

}
